#component_switchviews{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
}

.component_switchviews_option{
    background: rgba(0,0,0,0.5);
    color: white;
    margin: 0 1rem 0 1rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 5px 5px 0px black;
}
.component_switchviews_option:hover{
    cursor:pointer;
    background: rgba(0, 0, 0, 0.6);
}