.component_activitywindow_activity{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: 0px 2px 2px 2px rgba(0,0,0,0.5);
    aspect-ratio: 1/0.5;
    margin: 0.25rem;
    flex-wrap: wrap;
    background-image: url("./assets/silver-4487688_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.component_activitywindow_activity_firing {
    background-image: url("./assets/grunge-6097785_640.jpg");
}

.component_activitywindow_activity:nth-child(1){
background: rgba(0,0,0,0.5);
}
.component_activitywindow_activity:nth-child(1):hover {
    background: rgba(0, 0, 0, 0.6);
}

.component_activitywindow_activity_typeicon {
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
}

.component_activitywindow_activity_typeicon img{
    width: 3rem;
    aspect-ratio: 1/1;
}

.component_activitywindow_activity_text{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.component_activitywindow_activity_Text_title{
    font-size: 2rem;
    font-weight: bolder;
    width: 100%;
    text-align: center;
    margin: 2rem 0 1rem 0;
}
.component_activitywindow_activity_text_time {
    width: 100%;
    text-align: center;
}

.component_activitywindow_activity_editfield{
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: rgba(0,0,0,0.5);
    height: 2rem;
    border-radius: 5px;
}

.component_activitywindow_activity_editfield_action{
    width: 1rem;
    aspect-ratio: 1/1;
}